@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Poor+Story&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poor Story', cursive;
}
body{
    margin:0;
    text-align: center;
}

/* header */

.headerContainer{
    background-color: #393e46;
    padding: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px -2px gray;
}
.headerContainer h1{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.3rem;
    margin: 0;
    color: #eeeeee;
    
}

/* Rooms */

.allRooms{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.roomContainer{
    position: relative;
    background-color: #393e46;
    min-width: 400px;
    min-height: 300px;
    color: #eeeeee;
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 5px 5px 5px -2px gray;
    margin:1.7rem;
}

.roomContainer:hover{
    transition-property: background-color box-shadow;
    transition-duration:0.5s;
    background-color: #006f75;
    box-shadow: 5px 5px 5px 2px gray;
  
    
}
.roomTop{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    width: 400px;
    height: 200px;
    background-color: #eeeeee;
    color: #393e46;
    padding:2rem;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: bold;
    overflow: auto;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 3px;
}
.roomBot{
    position: absolute;
    text-align: left;
    bottom: 0;
    
}

.roomCreate{
    justify-content: center;
    margin-bottom: 4rem;
}
.roomCreate input{
    margin-top:1rem;
}
.roomCreate input[type=text]{
    width:50%;
    height: 50px;
    border:none;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid gray;
}
.roomCreate input[type=text]:focus{
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    
  
}
.roomCreate input::placeholder{
    font-size: 1.5rem;
    font-weight: bold;
}
.roomCreate button{
    width: 50px;
    height: 50px;
    margin: 1rem;
    background-color: #00adb5;
    font-size: 2rem;
    color: #eeeeee;
    border: none;
    border-radius: 100%;
 }
 .roomCreate button:hover{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #006f75;
    outline: none;
 }
 .roomCreate button:focus{
     outline: none;
 }
 .index{
     text-align: left;
     margin-left: 5rem;
     font-family: 'Do Hyeon', sans-serif;
     font-weight: bold;
     font-size: 3.2rem;
     text-decoration: underline;
     color: #393e46;
     letter-spacing: 4px;
 }

 /* Chat */

 .chatContainer{
     min-width: 300px;
     height: 80vh;
 }

 .chatHeader {
     display: flex;
     justify-content: space-between;
     margin: 0px;
     font-size: 2.5rem;
     padding: 2rem;
     text-align: left;
     border-bottom: 3px solid #393e461a;
     font-family: 'Do Hyeon', sans-serif;
 }
 .chatRoomName{
     color:#393e46;
     font-weight: bold;
     font-family: 'Do Hyeon', sans-serif;
     letter-spacing: 3px;
     
 }
 .chatHeader button{
     width: 100px;
     height: 50px;
     background-color: rgba(192, 28, 28, 0.753) ;
     color: #eeeeee;
     border: none;
     border-radius: 50px;
     font-size: 1.1rem;

 }
 .chatHeader button:hover{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(107, 15, 15, 0.753);
    outline: none;
 }
 
 .chat{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.1rem;

    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
 }
.translate{
    font-family: 'Do Hyeon', sans-serif;
}
.translateOption{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem 3rem 3rem;
}
.translateFrom{
    margin: 0 10%; 
}

.translateTo{
    margin: 0 5%;
    text-align: left; 
}
.translateOption button{
    border:none;
    background-color: transparent;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem; 
}
.translateOption button:hover{
    color: #00adb5;
}
.translateOption button:focus{
    outline: none;
}
.tranIndex{
    margin-top:10px;
}

.indexSpan{
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    color: #00adb5;
    text-decoration: none;
}
.tranIndex{
    padding: 1rem;
    text-align: left;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    text-decoration: underline;
    color: #393e46;
    letter-spacing: 4px;
}
 /* message */

 .leftMsg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 .RowMsg{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .leftMsg p{
    padding: 1rem 2rem;
    background-color: #006f75;
    color: white;
    border-radius: 50px;
    margin-top: 0;
    position: relative;
 }
 .rightMsg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
 }
 .rightMsg p{
    padding: 1rem 2rem;
    background-color: #393e46;
    color: white;
    border-radius: 50px;
    margin-top: 0;
 }
 .botMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgba(0, 0, 0, 0.201);
 }
 .SendMsg{
    padding: 2rem;
    margin-top:1rem;
 }
 .SendMsg input[type=text]{
    width:60%;
    height: 50px;
    border:none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: bold;
 }
 .SendMsg input::placeholder{
    font-size: 1.3rem;
    font-weight: bold;
 }
 .SendMsg input[type=text]:focus{
    outline: none;
 }
 .SendMsg button{
    width: 100px;
    height: 50px;
    margin: 1rem 0 1rem 1rem ;
    background-color: #00adb5;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
 }
 .SendMsg button:hover{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #006f75;
    outline: none;
 }
 .SendMsg button:focus{
     outline: none;
 }
 .info{
     color:#393e46bd;
     font-size: 0.8rem;
     margin: 0.4rem 0.7rem;
 }
 .infoname{
     color:rgba(0, 0, 0, 0.755);
     font-weight: bold;
 }
 
