#title,
.buttons,
.circles,
.squares,
.rects,
#output {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

svg {
  padding-top: 20px;
}

.circle,
.square,
.rectangle {
  fill: #eee;
}

button {
  border-color: gray;
  border-style: solid;
  color: gray;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: white;
}

button:focus {
  outline: none;
}