body{
    background-color: rgb(49, 45, 58);
    color: mediumseagreen;
    font-family: 'Lobster', 'Gamja Flower', cursive;
    text-align: center;
}

.container{
    padding: 5% 15%;
}

/* playerInfo */
.winner{
    font-size: 8rem;
    font-weight: bold;
}

/* dice */
.dice{
    color: white;
    
}
p{
    font-family: 'Indie Flower', 'Gamja Flower';
    font-size: 2rem;
}

.dicebtn{
    padding: 10%;
}
.startgame{
    
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: mediumseagreen;
    color: white;
}
.player{
    padding: 10%;
}

/* footer */

#developerInfo{
    padding:5% 15%;
}
#developerInfo p{
    font-family: 'Indie Flower', 'Gamja Flower';
    color: white;
    font-size: 1rem;
}