@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0; 
}

body{
    background:linear-gradient(to right, #d4d3dd, #efefbb);
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.phone{
    position: relative;
    width:330px;
    height: 650px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.content{
    opacity: 0;
    width: 100%;
    height: 590px;
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.content.show{
    opacity: 1;
}
.phone ul{
    position: absolute;
    bottom:0;
    left: 0;
    display: flex;
    list-style-type: none;
    background-color: white;
    width: 100%;
    height: 60px;
    justify-content: space-around;
}
.phone ul li{
    padding:5px 5px;
    text-align: center;
    color:gray;
    cursor: pointer;
}
.phone ul li:hover,
.phone ul li.active{
    color:black;
}