body{
    font-family: 'Ubuntu';
}

.navbar{
    padding:10px;
    box-shadow: 0px 5px 5px -5px black;

}

.big-heading{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.nav-item{
    padding: 0 2rem;
    letter-spacing: 3px;
}
p{
    padding:1.5rem 0;
    line-height: 2;
    font-family: 'Montserrat';
}

textarea{
    width: 80%;
    height: 100px;
    padding: 3px;
    margin: 2rem 0;
    border-radius: 5px;
    border:1px solid rgba(128, 128, 128, 0.568);
}
input[type='text']{
    margin: 2rem 0 0;
    border-radius: 5px;
    width: 80%;
    border:1px solid rgba(128, 128, 128, 0.568);
}
.box{
    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
    padding: 2rem 0;
}
.homebtn{
    float:right;
    margin:2rem;
}
a{
    font-family: 'Montserrat';
    text-decoration: none;
    margin-left: 10px;
}
a:hover{
    color: gray;
}

.comment-item{
    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
    position: relative;
    
}
.commentText{
    width: 85%;
}
.commentbtn{
    width: 6rem;
    border: none;
}
.comment{
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    margin: 3rem auto;
}

h2{
    margin-top: 3rem;
}
.comment-btn{
    position:absolute;
    top:0px;
    right: 0px;
}
.UD-btn{
    background-color: transparent;
    border: none;
    color:rgba(128, 128, 128, 0.76);
    padding-left: 0;
}
.hidden{
    display: none;
}
.UD-btn:hover{
    color: red;
}