@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #0f9b8e;
  color: white;
}

::selection {
  color: #fcc006;
  background-color: #ff7052;
}

h1 {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  font-weight: 200;
}
p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
i {
  font-size: 5rem;
}
.weather--info-date-icon i {
  color: orange;
}
sup {
  font-size: 0.9rem;
}

.weather {
  margin: 2rem auto 0;
}
.weather--info {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.weather--info-date p {
  margin-bottom: 2rem;
}

.weather--info-temp,
.weather--info-date {
  padding: 0 5rem;
}
.weather--info-date {
  border-left: 3px solid white;
}
