body
{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif

}
h1
{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin:50px auto 0 auto;
    color: #66BFBF;
    
}
.subheading
{
    font-weight: normal;
    font-size: 2rem;
}
h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;

}
h3
{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a
{
    color: #11999E;
    text-decoration: none;

}
a:hover
{
    color:white;
}
.top-cloud
{
    position: absolute;
    top:30px;
    right:300px;

}
.bottom-cloud
{
    position:absolute;
    bottom:300px;
    left:300px;

}
.top-container
{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;    
    
}
.middle-container
{
    padding:20px;
}
.bottom-container
{
    padding:40px;
    background-color: #66BFBF;
    color: #EAF6F6;
}
.skill-web
{
    width:20%;
    float: left;
    margin-right: 30px;
}
.skill-ROS
{
    width:20%;
    float: right;
}
.skill-row
{
    width:50%;
    margin: 130px auto 130px auto;
    text-align: left;
    line-height: 2;
    
}
.btn
{
    width: 300px;
    height: 100px;
    padding:10px 30px 10px 30px;
    background-color: #66BFBF;
    color: white;
    border-radius: 40px;
}
.btn:hover
{
    background-color:#11999E ;
}
.Gitlink
{
    margin-right: 20px;
}
hr
{
    border-style: none;
    border-top:rgba(128, 128, 128, 0.589) dotted;
    border-width: 8px;
    width: 6%;
}
.profile
{
    margin-bottom: 100px;
}
.skills
{
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact-me
{
    margin-top:100px;
    margin-bottom: 100px;
}